<div class="container">
    <section id="work-management-section" class="work-container">
        <div class="work-flex-container">
            <img class="work-image" src="images/dashboard.svg" alt="">
            <div class="work-content">
                <h2>Manage your work</h2>
                <ul class="work-features-list">
                    <li>Powerful project management</li>
                    <li>Transparent work management</li>
                    <li>Manage work & focus on the most important tasks</li>
                    <li>Track your progress with interactive charts</li>
                    <li>Easiest way to track time spent on tasks</li>
                </ul>
                <a class="btn-theme-s" href="#">Learn more <i class="fa-solid fa-arrow-right"></i></a>
            </div>
        </div>
    </section>
</div>