@model HomeIndexViewModel

<section id="showcase">
    @await Html.PartialAsync("~/Views/Shared/Sections/_Showcase.cshtml", Model.Showcase)
</section>

<div id="features">
    <partial name="~/Views/Shared/Sections/_Features.cshtml"/>
</div>

<section id="Laptop-slider">
    @await Html.PartialAsync("~/Views/Shared/Sections/_laptop-slider.cshtml")
</section>

<section id="work-management-section">
    @await Html.PartialAsync("~/Views/Shared/Sections/_Work-management.cshtml")
</section>

<section id="download-app-section">
    @await Html.PartialAsync("~/Views/Shared/Sections/_download-our-app.cshtml")
</section>

<section id="worktools">
    @await Html.PartialAsync("~/Views/Shared/Sections/_Work-tools.cshtml")
</section>

<section id="newsletter-section">
    @await Html.PartialAsync("~/Views/Shared/Sections/_newsletter.cshtml")
</section>